/* Grays
 * light
#f7f7f7
#d9d9d9
#bdbdbd
#969696
#636363
#252525
* dark
*/

html,
body {
    padding: 0;
    margin: 0;
	background-color:#1d5288;
}

#wrapper {
	position:relative;
	width:1280px;
	background-color:#fff;
	margin:0 auto;
	border:solid 1px black;
}

#wrapper h1#app-title {
	margin:10px 0px;
	text-align:center;
	position:relative;
}


#bar-chart-ele {
	margin-top:50px;
}

h2#chart-title {
	position:absolute;
	text-align:center;
	left:25px;
	width:800px;
}

rect.bar {
	cursor:pointer;
}

rect.highlighted {
	stroke-width:2px;
	stroke:black;
}

#map-ele {
	position:absolute;
	top:150px;
	border:solid 1px black;
	border-bottom:none;
}

#map-ele path {
	stroke:#fff;
	opacity:0;
	cursor:pointer
}


#map-ele text {
	cursor:pointer;
	opacity:0;
}

#slider-ele {
	position:relative;
	left:110px;
	display:inline-block;
}

#breadcrumb {
	position:absolute;
	width:302px;
	top:450px;
	right:18px;
	border:1px solid black;
	border-radius:0px;
	border-top:none;
}


.bar-lable {

}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#slider .x.axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

#slider .handle {
	fill: #ccc;
	stroke:#000;
	stroke-width:1px;
}


#play-button {
	font-size:50px;
	display:inline-block;
	position:absolute;
	left:20px;
	top:35px;
	border:3px solid black;
	border-radius:50px;
	height:80px;
	width:80px;
	text-align:center;
	cursor:pointer;
}

#play-button:hover {
	font-size:56px;
}

#play-button:hover i{
	top:-3px;
}

#play-button i {
	position:relative;
}
