/* Grays
 * light
#f7f7f7
#d9d9d9
#bdbdbd
#969696
#636363
#252525
* dark
*/

html,
body {
    padding: 0;
    margin: 0;
}

#wrapper {
	position:relative;
	width:1280px;
	background-color:#fff;
	margin:0 auto;
}

#wrapper h1 {
	margin:0px;
	width:958px;
	text-align:center;
}


#bar-chart-ele {
	
}

rect.bar {
	cursor:pointer;
}

rect.highlighted {
	stroke-width:2px;
	stroke:black;
}

#map-ele {
	position:absolute;
	top:50px;
	border:solid 1px black;
}

#map-ele path {
	stroke:#fff;
	opacity:0;
	cursor:pointer
}


#map-ele text {
	cursor:pointer;
	opacity:0;
}


.bar-lable {

}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
