/* Grays
 * light
#f7f7f7
#d9d9d9
#bdbdbd
#969696
#636363
#252525
* dark
*/

html,
body {
    height: 100%; 
    padding: 0;
    margin: 0;
}

#bar-chart-ele {
	
}

#bar-chart-ele .chart {

}


#slider-ele .axis, #slider-ele .handle {
	cursor:pointer;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
